
<link rel="stylesheet" href="users.scss">
<div class='container'>
  <div class='col-md-3'>
    <h3>プロフィール編集</h3>
    <hr>
     <table class="table2" align= "center">
      <%= form_with model:@user, local:true do |f| %>
       <tr>Name</tr>
         <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
         <hr>
         <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>
       <tr>ProfileImage</tr>
         <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
         <hr>
          <%= f.submit "変更を保存" %>
      <% end %>
     </table>
  </div>
</div>